
.cards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
.card{
    flex-grow: 1;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    h1{
        font-size: 1.3rem;
    }
    .description{
        font-size: .9rem;
    }

    .tags{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
    }
    .tag{
        padding-inline: .5rem;
        padding-block: .5rem;
        background-color: rgb(69, 69, 69);
          white-space: nowrap;
          border-radius: .3rem;  
    
    }
    .urls{
        a{
            color: white;
        }
    }

}