.window{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 0.75rem;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;


    .nav{
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size:1rem;
        border-bottom: .1px solid rgba(255, 255, 255, 0.16);
  
        .dots
        {
            display: flex;
            gap: 0.25rem;
            

        }
        .dot{
            width: 15px;
            height: 15px;
            background-color: white;
            border-radius: 50%;

            &.red{
                background-color: #ff605c;
            }
            &.yellow{
                background-color: #ffbd44;
            }
            &.green{
                background-color: #00ca56;
            }
        }

    }
    .main-content{
      
        overflow: auto;
    }
}