.dock{
    display: flex;
    gap: 0.75rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(50, 50, 50, 0.306);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);

   .icon{
  
    height: 3.5rem;
    padding: 0.65rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition:  all 0.5s cubic-bezier(0.19, 1, 0.22, 1),margin 0.25s ease;
   }
   .cli,.github{
    background-color: black;
   }
   .note{
    background: linear-gradient(to bottom,rgb(255,179,87),rgb(255,153,28));
   }
   .pdf{
    background: rgb(215, 19, 48);
   }
   .calender,.mail{
    background: linear-gradient(to bottom,rgb(124,115,255),rgb(66,52,255));
   }
   .spotify{
    background: linear-gradient(to bottom,rgb(78,176,33),rgb(53,142,12));
   }

   .link{
    background: linear-gradient(to bottom,rgb(163,97,170),rgb(142,33,15));
   }

   .icon:hover{
    transform: scale(1.25) translateY(-30%);
     margin-inline: 0.5rem;
   }
  .icon:hover +.icon,
  .icon:has(+ .icon:hover){
    transform: scale(1.1) translateY(-20%);
  }
}
 