*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body #root{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100vh;
    background: url("/mac-wallpaper.jpg");
    background-size: cover;
    background-position: center;
}